<html>
{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>

<body>
    <div class = "login">
        <div class="container">
            <div class="card-body">
                <h1 class="header_style">❁ Login ❁</h1><hr>
                <form method="POST" action="">
                {% csrf_token %}
                    <table>
                        <tr>
                            <td>Username </td>
                            <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
                        </tr>
                                
                        <tr>
                            <td>Password </td>
                            <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
                        </tr>
                    </table>
                <center><input class="btn button" type="submit" value="Login"></center>
                </form>

            {% if messages %}
                {% for message in messages %}
                    <p class="message">{{ message }}</p>
                {% endfor %}
            {% endif %}     
                
            <p>Still new? <b><a href="{% url 'todolist:register' %}">Join now!</a></b></p>

            </div>
        </div>
    </div>

</body>
{% endblock content %}
</html>