<html>
{% extends 'base.html' %}

{% block meta %}
<title>Registration</title>
{% endblock meta %}

{% block content %}  

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'register.css' %}">
</head>

<body>
    <div class="container">
        <div class="card-body">
            <h1 class="header_style">♡ Registration Form ♡</h1>  
            <br><br><br><br><hr><br><br> 

                <form method="POST" >  
                    {% csrf_token %}  
                    <table> 
                        {{ form.as_table }}
                    </table> 
                    <br>
                    <input class="button" type="submit" name="submit" value="Register"/>
                    <br>
                    <button class="button-back"><a href="{% url 'todolist:logout' %}">Back</a></button>
                </tr>
                </form>

            {% if messages %}    
                {% for message in messages %}  
                    <p class="message">{{ message }}</p>
                {% endfor %}  
            {% endif %}

        </div> 
    </div> 
</body>
{% endblock content %}
</html>