{% extends 'base.html' %}

{% block meta %}
<title>Account Registration</title>
{% endblock meta %}

{% block content %}  
<style>
    html {
        scroll-behavior: smooth;
    }
    
    body{
        background: linear-gradient(45deg, #47efe4, #5178dc);
	}
    .card-body {
            width:700px;
            margin: 20px auto;
            padding:12px 60px;
            background-color: transparent !important;;
            border-radius: 3px;
            box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
            backdrop-filter: blur(6px);
    }
    .header_style{
        width: 100%;
        float: left;
        font-size: 40px;
        color: #fdfcfc;
        text-align: center;
        margin: 0px;
        font-family: 'Lucida Bright', sans-serif; 
    }
    .button4 {
        border: 5px;
        background-color: transparent;
        box-shadow: 3px 1px 10px 0px rgba(0,0,0,0.75);
        width: 100px;
        color: rgb(255, 254, 254);
        padding: 7px;
        display: inline-block;
        font-size: 17px;
        font-weight: bold;
        border-radius: 3px;
        cursor: pointer;
    }
</style>
<div class = "login">
    <div class = "card-body">
    
    <h1 class="header_style">♡ Registration Form ♡</h1>  
    <br><br><br><br><hr><br><br>

        <form method="POST" >  
            {% csrf_token %}  
            <table>  
                {{ form.as_table }}  
                <tr>  
                    <td></td>
                    <td><input type="submit" name="submit" value="Register"/></td>  
                </tr>  
            </table>  
            <br><br><br>
            <button class="button4"><a href="{% url 'todolist:logout' %}">Back</a></button>
        </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}
    </div>

</div>  

{% endblock content %}