<html>
{% extends 'base.html' %}

{% block meta %}
<title>Todolist</title>
{% endblock meta %}

{% block content %}
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static './todolist.css' %}">
</head>

<body>
    <div class="container">
        <div class="card-body">
            <br><br>
            <h1 class="header_style">{{username}}'s</h1>
            <br><br><br><hr>
            <h2 class="header2_style" style="color: #0B1C48;">.。･:*:･(✿◕3◕)❤ Check out your daily tasks here ❤(✿◕3◕).。･:*:･</h2>
            <br><br><br><br><br>
 
            <a href="{% url 'todolist:create_task' %}">
                <button class="button1">Add New Task </button>
            </a>


            {% for task in todolist %}
            <div class="card-row">
            <div class="card-column">
            <div class="card">
                <p class="task-date">{{task.date}}</p>
                <p class="task-title">{{task.title}}</p><hr>
                <p class="task-desc">{{task.description}}</p>
                {% if task.is_finished == False %}
                <p class="task-state">On Progress</p> 
                {% else %} 
                <p class="task-state">Done</p>
                {% endif %}
                    <div class="task-button">
                    <a href="/todolist/update-status/{{task.id}}">
                        <button class="button2" type="submit">Change</button>
                    </a>
                    <a href="/todolist/delete-task/{{task.id}}">
                        <button class="button3" type="submit">Delete</button>
                    </a>
                </div>
            
        </div>
        </div>

            {% endfor %}       
            <br>
        </div>    
        </div>
        <a href="{% url 'todolist:logout' %}">
            <button class="button4">Logout</button>
        </a>
    </div>
</div>

</body>
{% endblock content %}
</html>