{% extends 'base.html' %}

 {% block content %}

  <h1 style="text-align: center;">Tugas 3 PBP</h1>
  <h2 style="text-align: center;">My Watch List</h2>

  <table>
    <tr>
        <th>TITLE</th>
        <th>RELEASE DATE</th>
        <th>RATING</th>
        <th>REVIEW</th>
        <th>WATCHED</th>
    </tr>
    {% for movie in watchlist %}
    <tr>
        <th>{{movie.title}}</th>
        <th>{{movie.release_date}}</th>
        <th>{{movie.rating}}</th>
        <th>{{movie.review}}</th>
        <th>{{movie.watched}}</th>
    </tr>
    {% endfor %}
  </table>

  <h1 style="color:red; text-align: center;">{{message}}</h1>
 {% endblock content %}