{% extends 'base.html' %}

 {% block content %}


  <h1 style="text-align: center; color: #008080"><span>🍿</span>My Watch List<span>🍿</span></h1>
  <h3 style="text-align: center; color: #0f3041">by: {{nama}} ({{npm}})</h3>

  <table rules="all", border="1", table align="center">
    <tr>
        <th bgcolor="#CD5C5C">Watched</th>
        <th bgcolor="#CD5C5C">Title</th>
        <th colspan="2", bgcolor="#CD5C5C">Release Date</th>
        <th colspan="2", bgcolor="#CD5C5C">Rating (*/5)</th>
        <th bgcolor="#CD5C5C", colspan="2">Review</th>
        
    </tr>
    {% for movie in watchlist %}
    <tr>
        <th bgcolor="FFFAF0"><strong style="font-weight: normal">{{movie.watched}}</strong></th>
        <th colspan="2", bgcolor="FFFAF0"><strong style="font-weight: normal">{{movie.title}}</strong></th>
        <th bgcolor="FFFAFA"><strong style="font-weight: normal">{{movie.release_date}}</strong></th>
        <th bgcolor="FFFAF0"><strong style="font-weight: normal">{{movie.rating}}</strong></th>
        <th colspan="3", bgcolor="FFFAFA", style="text-align: left; size: 11"><strong style="font-weight: normal">{{movie.review}}</strong></th>

    </tr>
    {% endfor %}
  </table>

  <h1 style="color:#008080; text-align: center;"><span>✨</span>{{message}}<span>✨</span></h1>
  
 {% endblock content %}