{% extends 'base.html' %}

 {% block content %}


  <h1 style="text-align: center; color: #008080"><span>🍿</span>My Watch List<span>🍿</span></h1>
  <h3 style="text-align: center; color: #0f3041">by: Prita Tarigan (2106751190)</h3>

  <table rules="all", border="1", table align="center">
    <tr>
        <th bgcolor="#CD5C5C">Watched</th>
        <th bgcolor="#CD5C5C">Title</th>
        <th colspan="2", bgcolor="#CD5C5C">Release Date</th>
        <th colspan="2", bgcolor="#CD5C5C">Rating (*/10)</th>
        <th bgcolor="#CD5C5C", colspan="2">Review</th>
        
    </tr>
  </table>

  <h1 style="color:#008080; text-align: center;"><span>✨</span>{{message}}</h1>
 {% endblock content %}