@import url('https://fonts.googleapis.com/css?family=Cinzel Decorative');
@import url('https://fonts.googleapis.com/css?family=Fauna One');
@import url('https://fonts.googleapis.com/css?family=Didot');

body{
    background: linear-gradient(20deg, #710117, #0B1C48);;
}
.container {
    display: flex;
    justify-content: center;
}
.card-body {
    width:300px;
    margin: 130px auto;
    padding:12px 60px;
    background-color: #FFFFFF;;
    border-radius: 10px;
    box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
    backdrop-filter: blur(6px);
    outline-style: groove;
    outline-color: #710117;
    outline-width: 4px;
}
table {
    border-collapse: collapse;
    background: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    border-width: 5px;
}
tr {
    height: 50px;
}
td{
    padding-left: 8px;
    font-family: 'Fauna One', sans-serif;
    font-size: 14px;
    color: #710117;
}

 
h1 {
    padding: 10px;
    font-family: 'Fauna One', sans-serif;
}
 
a,p {
    color: rgb(0, 0, 0);
    font-family: 'Fauna One', sans-serif;
}
 
.button {
    border: 0px;
    background-color: #710117;
    color: #FAF7F4;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin: auto;
    display: block;
    justify-content: center;
    box-shadow: 3px 1px 10px 0px rgba(0,0,0,0.75);
}
 
.header_style{
    float: center;
    font-size: 170%;
    color: #710117;
    text-align: center;
    margin: 0px;
    font-family: 'Cinzel Decorative'; 
}
input[type=text], input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: #2c2c2c;
    color: #FFFFFF;
    font-family: 'Georgia';
}